<navbar title="Employee List"></navbar>
<div class="page">
  @if(totalEmployee > 0){
  <div class="bng-surface">
    <p class="p-3 txt-primary">Current employees</p>
  </div>

  <mat-selection-list>
    @for (emp of employees.current; track $index) {

    <mat-list-item (click)="onClickEmployee(emp.id)" class="cursor-pointer">
      <span matListItemTitle>
        {{ emp.name }}
      </span>
      <span matListItemLine>
        {{ emp.role }}
      </span>
      <span matListItemLine>
        From {{ emp.fromDate | date : "d MMM yyyy" }}
      </span>
    </mat-list-item>
    }
  </mat-selection-list>
  <div class="bng-surface">
    <p class="p-3 txt-primary">Previous employees</p>
  </div>
  <mat-selection-list>
    @for (emp of employees.past; track $index) {

    <mat-list-item (click)="onClickEmployee(emp.id)" class="cursor-pointer">
      <span matListItemTitle>
        {{ emp.name }}
      </span>
      <span matListItemLine>
        {{ emp.role }}
      </span>
      <span matListItemLine>
        {{ emp.fromDate | date : "d MMM yyyy" }} -
        {{ emp?.toDate | date : "d MMM yyyy" }}
      </span>
    </mat-list-item>
    }
  </mat-selection-list>

  }@else {
  <div
    id="empty-screen"
    class="flex flex-column justify-content-center align-items-center"
  >
    <img
      src="illustrations/no_employee.svg"
      alt="No employee"
      class="mb-1 w-full max-w-16rem h-auto"
    />
    <p class="mb-5 text-center">No employee records found</p>
  </div>
  }
  <button
    class="fab-add"
    mat-fab
    aria-label="Add employee"
    (click)="onClickAdd()"
  >
    <mat-icon class="text-white">add</mat-icon>
  </button>
</div>
<div class="footer"></div>
