<navbar title="Employee List"></navbar>
<div class="page">
  @if(employeeList.length > 0){ @for (emp of employeeList; track $index) {
  <div (click)="onClickEmployee(emp.id)">
    <h4>{{ emp.name }}</h4>
    <p>{{ emp.role }}</p>
    <div class="flex">
      <p>{{ emp.fromDate }}</p>
      <p>{{ emp?.toDate }}</p>
    </div>
  </div>
  } }@else {
  <div
    id="empty-screen"
    class="flex flex-column justify-content-center align-items-center"
  >
    <img
      src="illustrations/no_employee.svg"
      alt="No employee"
      class="mb-1 w-full max-w-16rem h-auto"
    />
    <p class="mb-5 text-center">No employee records found</p>
  </div>
  }
  <button
    class="fab-add"
    mat-fab
    aria-label="Add employee"
    (click)="onClickAdd()"
  >
    <mat-icon class="text-white">add</mat-icon>
  </button>
</div>
<div class="footer"></div>
