#datePicker .mat-mdc-icon-button.mat-mdc-button-base {
  padding: 0;
  margin-right: 12px;
  height: 24px;
  width: 24px;
  color: var(--primary);
}
.mat-icon {
  color: var(--primary);
}

.mat-mdc-outlined-button:not(:disabled) {
  background-color: var(--primary-100) !important;
  border-color: var(--primary-100) !important;
  color: var(--primary) !important;
}

.mat-mdc-dialog-container .mat-mdc-dialog-content {
  padding: 24px 16px !important;
}

.mat-calendar-body-cell-content {
  height: 70% !important;
  width: 70% !important;
}

.mat-mdc-dialog-content {
  max-height: 70vh !important;
}
