<navbar
  [title]="isEditMode ? 'Edit Employee Details' : 'Add Employee Details'"
  [showDelete]="isEditMode"
  (onClickDelete)="onDeleteEmployee()"
></navbar>

<form [formGroup]="employeeForm" (ngSubmit)="onClickSave()">
  <div class="form-block">
    <div class="flex flex-column gap-2 mb-3">
      <mat-form-field>
        <mat-icon matPrefix>person_outline</mat-icon>
        <input
          matInput
          type="text"
          formControlName="name"
          placeholder="Employee name"
        />
        @if(employeeForm.get('name')?.errors?.['required']){
        <mat-error> Employee name is required </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex flex-column gap-2 mb-3">
      <mat-form-field>
        <mat-icon matPrefix>work_outline</mat-icon>
        <input
          matInput
          type="text"
          formControlName="role"
          readonly
          placeholder="Select role"
          (click)="onSelectRole()"
        />
        <mat-icon matSuffix>arrow_drop_down</mat-icon>
        @if(employeeForm.get('role')?.errors?.['required']){
        <mat-error> Role is required </mat-error>
        }
      </mat-form-field>
    </div>
    <div class="flex justify-content-between mb-3 gap-4">
      <mat-form-field id="datePicker" class="w-full">
        <mat-icon matPrefix>event_outline</mat-icon>
        <input
          matInput
          formControlName="fromDate"
          placeholder="From"
          type="text"
          readonly
          (click)="openDatePicker('fromDate')"
        />
        @if(employeeForm.get('fromDate')?.errors?.['required'] ){
        <mat-error> From date is required </mat-error>
        }
      </mat-form-field>
      <mat-icon class="split-icon">arrow_forward</mat-icon>
      <mat-form-field id="datePicker" class="w-full">
        <mat-icon matPrefix>event_outline</mat-icon>
        <input
          matInput
          formControlName="toDate"
          placeholder="No date"
          readonly
          type="text"
          (click)="openDatePicker('toDate')"
        />
      </mat-form-field>
    </div>
  </div>
  <div class="footer">
    <button mat-stroked-button (click)="onClickCancel()" type="button">
      Cancel
    </button>
    <button mat-flat-button color="primary" type="submit">Save</button>
  </div>
</form>

<ng-template #bottomSheet>
  <mat-selection-list>
    @for (role of roles; track $index) {
    <mat-list-item (click)="closeRoleBottomSheet(role)">
      {{ role }}
    </mat-list-item>
    @if($index < roles.length -1){
    <mat-divider style="border-top-color: #e5e5e5"></mat-divider>
    } }
  </mat-selection-list>
</ng-template>
